* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
}

.row {
  display: flex;
  justify-content: center;
}

.full-column {
  flex-basis: 100%;
  text-align: center;
}

label {
  display: block;
}

.new-event {
  margin-top: 5rem;
  background-color: grey;
  color: white;
  border-radius: 0.5rem;
  border: none;
  padding: 10px;
}

.table {
  width: 60%;
  margin: 5rem auto;
  border: solid lightgrey;
  border-collapse: collapse;
}

th,
td {
  padding: 20px;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}
