* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
}

.row {
  display: flex;
  justify-content: center;
}

.full-column {
  flex-basis: 100%;
  text-align: center;
}
